@import "tailwindcss";

/* ========== Font Faces ========== */
@font-face {
  font-family: "InstrumentSerif";
  src: url("/InstrumentSerif-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SFPRODISPLAYMEDIUM";
  src: url("/SFPRODISPLAYMEDIUM.OTF") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "SFPRODISPLAYREGULAR";
  src: url("/SFPRODISPLAYREGULAR.OTF") format("opentype");
  font-weight: 400;
  font-style: normal;
}

/* ========== Global Font ========== */
html, body {
  font-family: "SFPRODISPLAYREGULAR", sans-serif;
}
